*{
	margin: 0;
	padding: 0;
}
#game-container{
	height:750px;
	position: relative;
}

button{
	width: 200px;
	
}
img{
	width:650px;
	margin-top: 40px;
}
#title{
	font-size: 20px;
}
#description{
	font-size: 20px;
}

#button2 {  
	position: absolute;
    left: 25%;
    transform: translateX(-50%);
}
#button3 {  
	position: absolute;
    left: 45%;
    transform: translateX(-50%);
}